body {
    background-color: rgb(56, 2, 255);
  }
  h1 {
    color: yellow;
  }
  #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav1 {
    float: left;
  }
  
  .nav1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav1 a:hover {
    background-color: #111;
  }
p{
  color: yellow;
}  